@model IEnumerable<Bquiz.Models.bq_QuestionGroup>

@{
    ViewBag.Title = "Index";
}

<h2>@(((Bquiz.Models.bq_Part)ViewBag.Part).Name)</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Order
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@item.bq_Part.EdittingUrl?groupId=@item.QuestionGroupId"><b>@item.Name</b></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            <a href="@item.bq_Part.EdittingUrl?groupId=@item.QuestionGroupId">TuCuong</a>
        </td>
    </tr>
}

</table>
