@model IEnumerable<Bquiz.Models.bq_Part>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model) {
    <h3><b>Part @item.Order : @item.Name</b> (@item.NumberOfItems items)</h3>
    
    using (Bquiz.Models.BluequizEntities db=new Bquiz.Models.BluequizEntities())
    {
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Items
                </th>
            </tr>
            @foreach(var part in db.bq_Part_GetByParentId(item.PartId).ToList())
            {
                <tr>
                    <td>
                        <a href="/QuestionGroup?partId=@part.PartId&quizId=@ViewBag.QuizId"><b>Part @part.Order : @part.Name</b></a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => part.NumberOfItems)
                    </td>
                </tr>
            }
        </table>
    }
}
